body {
    background-color: #1E1E1E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-user-select: none;
    overflow: hidden;
}

#contenedor {
    padding: 1em;
    border-radius: 1em;
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    margin: 0;
}

.nota {
    font-size: 30px;
    color: white;
    text-align: center;
    border-radius: 0.4em;
    position: relative;
    margin: 0 em;
    background-color: transparent;
    padding: 1em;
    border: 1px solid transparent;
}

#botones {
    margin-top: 2em;
    position: relative;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#reset {
    width: 4em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#play {
    width: 4em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#contenedorSegundos {
    background-color: teal;
    border-radius: 50%;
    color: white;
    width: 4rem;
    height: 4rem;
    font-size: 40px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#segundos {
    position: relative;
    transform: translateY(-69%);
}